@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: rgba(246, 230, 213, 0.951);
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(246, 242, 237, 0.881);

    .logo image {}

    object-fit: cover;
}

.search_bar {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search_bar input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background: transparent;
}

.search_bar button {
    width: 19%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.navbar .links ul li {
    display: inline-block;
    margin: 5px;
    padding: 8px;
}

.navbar .links ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2.1vh;

}

.navbar .links ul li a:hover {
    border-bottom: 1px solid black;
}

.main_link_1 {
    position: absolute;
    left: 28%;
    transform: translateX(-50%);
}

.main_link_2 {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
}

.banner {
    width: 100%;
    height: 86vh;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.categories .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.categories .boxes .box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.categories .boxes .box h3 {
    margin-top: 15px;
}

.boxes .box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.boxes .box:hover img {
    transform: scale(1.1);
    border-radius: 10px;
}

.comment_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.comment_container .slider {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.comment_container .slider .box {
    width: 60%;
    display: flex;
}

.comment_container .slider .box img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.comment_container .slider .box .content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.creator_info {
    width: auto;
    margin: auto;
}

.creator_info h3 {
    margin: 0;
    padding: 0;
}

.shirit {
    width: 100%;
    margin-bottom: 50px;
}

.shirit img {
    width: 100%;
    object-fit: cover;
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 150px 50px 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    margin-top: 200px;
}

footer .logo img {
    width: 200px;
}

footer .logo ul {
    margin: 20px;
}

footer .logo ul li {
    display: inline-block;
    margin: 5px;
}

footer .links ul {
    list-style: none;
}

footer .links ul li {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 45vh;
}

.form form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form form input {
    margin: 10px;
    padding: 8px 25px;
    font-size: 2.4vh;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.form form button {
    margin: 10px;
    padding: 8px 25px;
    font-size: 2.4vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: orange;
    color: #fff;
}

.form form button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
}

.contact_container .content {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.contact_container .contact_form {
    width: 500px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact_form form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact_form form input,
textarea {
    margin: 10px;
    padding: 8px 25px;
    font-size: 2.4vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.contact_form form button {
    background-color: orange;
    color: #fff;
    margin: 10px;
    padding: 8px 25px;
    font-size: 2.4vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.make_row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.make_row input {
    width: 45%;
}

.about-us_container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}

.about-us_container h3 {
    margin-bottom: 24px;
}

.about_content {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.about_content .about_details {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    margin: 20px;
}

.about_content .about_details img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.about_content .about_details h3 {
    margin-top: 50px;
}

.about_content .about_details p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.error {
    color: red;
}

.category_details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.category_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.burger_menu{
    display: none;
}

.burger_content{
    position: absolute;
    height: 100vh;
    width: 300px;
    top:0;
    z-index: 99999;
    background: rgba(246, 230, 213, 0.951);
    right: -300px;
    transition: right 0.3s ease;
    display: none;
  }
  .burger_content .burger_link ul{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: flex-end;
    font-size: 2.5vh;
    list-style: none;
  } 
  .burger_content .burger_link ul li{
    padding: 8px;
  }
  .burger_login ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .burger_login ul li{
    padding: 8px;
  }
  .burger_close_btn{
    padding: 20px;
    font-weight: 800;
  }

/*Phone*/
@media only screen and (max-width: 600px) {
    .links{
        display: none;
    }
    .search_bar{
        display: none;
    }
    .burger_menu{
        display: block!important;
    }
}

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .links{
        display: none;
    }
    .search_bar{
        display: none;
    }
    .burger_menu{
        display: block!important;
    }
}